.profile-page {
    padding: 50px 100px;
  }
  
  .profile-content {
    margin-top: 40px;
  }
  
  .products-section{
    margin-bottom: 40px;
  }
  
  .products-section h3 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Arvo", serif;
    text-align: center;
    font-weight: 400;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }
  
  .product {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .product h3 {
    font-size: 20px;
    margin: 16px 0;
  }
  
  .product p {
    font-size: 16px;
    color: #555;
    margin-bottom: 16px;
  }
  
  .product button {
    padding: 10px 20px;
    background-color: #e6aa65;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .product button:hover {
    background-color: #d69f5f;
  }

  @media (max-width: 768px) {
    .products-section h3 {
      font-size: 28px;
    }
  
    .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
