header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
  }
  
  .logo {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 45px;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .logo:hover {
    color: #e6aa65;
    font-style: italic;
    font-size: 50px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #000;
  }
